<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Composteur</title>

    <link rel="stylesheet" href="public/style.css">
</head>
<body>
    <h1>Résultats</h1>

    <div>
        <div class="half-circle shadow">
          <div class="rotator" style="transform: rotate(0deg)"></div>
        </div>
      </div>
      
      <div id="termometer">
              <div id="temperature" style="height:0" data-value="0°C"></div>
              <div id="graduations"></div>
          </div>


    <script>
        fetch("/api/data/CAPT_TEMP_HUM").then(res => res.json).then(data => {
            let rotation = 180*data[0]/100
            document.querySelector(".rotator").style = `transform: rotate(${rotation}deg)`;

        })
    </script>
</body>
</html>
